.Cryptonumbers-y-su-t {
    width: 297px;
    height: 92px;
    font-family: Ubuntu;
    font-size: 39px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.45px;
    color: #0e41ff;
  }

  .texto--mobile-team{
    width: 297px;
    height: 92px;
    font-family: Ubuntu;
    font-size: 39px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.45px;
    color: var(--black);
  }

  .Un-nuevo-activo-crip-Copy {
  
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.19px;
    text-align: center;
    color: #333333;
  }

  .Qu-es-Cryptonumber {
    margin: 2px 2px 2px 2px;

    font-family: Ubuntu;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: 0.21px;
    text-align: center;
    color: var(--black);
  }

  .Con-los-NFT-de-Crypt-Copy {

  margin: 2px;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: 0.21px;
    text-align: center;
    color: var(--black);
  }
  
  .Con-los-NFT-de-Crypt-Copy .text-style-1 {
    font-weight: bold;
  }
  .Es-un-proyecto-block {
    
    margin: 15px 2px 24px 9px;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: 0.21px;
    color: var(--black);
  }
  
  .Es-un-proyecto-block .text-style-1 {
    font-weight: bold;
  }

  .salo-como-colateral {
text-align: center;
    margin: 7px 0 0;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: 0.21px;
    text-align: center;
    color: var(--black);
  }

  .texto--mobile-nft{
   
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.26px;
    text-align: center;
    color: var(--black);
  }